
@media only screen and (min-width:1200px) and  (max-width:1600px){
	.grid-lg-2 {
		grid-column: span 3;
	}
	.spnsor img {
		max-width: 90px;
	}
	.post-left p,
	.post-right p {
		padding-right: 10px;
	}

	.h4,
	h4 {
		font-size: 1.3rem;
	}
	.h5,
	h5 {
		font-size: 1.1rem;
	}
}


@media only screen and (min-width:768px) and (max-width:1199px) {
	.d-109{
		display: block;
	}
}
@media only screen and (min-width:768px) and (max-width:1199px) {
	.grid-3 {
		grid-column: span 3;
	}

	.grid-6 {
		grid-column: span 9;
	}
	.h4,
	h4 {
		font-size: 1.3rem;
	}

	.h5,
	h5 {
		font-size: 1.1rem;
	}
	/* .post-left p,
	.post-right p {
		padding-right: 10px;
	} */
}
@media only screen and (max-width: 991px) {

	.grid-3 {
		grid-column: span 4;
	}
	.grid-6 {
		grid-column: span 8;
	}
	
	.spnsor img {
		max-width: 80px;
	}

	.left-sidebar ul li{
		width: 100%;
		max-width: 100%;
	}
	.p-p {
		padding: 5px 4%;
	}
	.h4,
	h4 {
		font-size: 1.2rem;
	}
	#main h4,
	.profile-top h5 {
		font-size: 16px;
		font-weight: 600;
		line-height: 1;
	}
}
@media only screen and (min-width: 767px) and (max-width:991px){
	.profile .star .review {
		color: #08B5F6;
		display: block;
	}
}
@media only screen and (max-width: 767px) {

	.grid-3 {
		grid-column: span 12;
	}

	.grid-6 {
		grid-column: span 12;
	}
	.profile-img.mr-10{
		padding-bottom: 10px;
	}
	.request-profile {
		display: flex  !important;
	}
	.suggest-friend .request-btn {
		width: 150px;
	}

	/* 17/8 */
	
	.search-box input {
		display: none;
	}

		/* 8/17 */

		.header-sticky nav {
			padding: 8px 3%;
		}


			.left-menu-content {
				position: absolute;
				width: 90%;
				max-width: 350px;
				background: var(--bg-color);
				box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
				border-radius: 4px;
				overflow: hidden;
				top: 108%;
				right: 5%;
				max-height: 0;
				transition: max-height 0.3s;
			}

			.left-sm-menu-height {
				max-height: 100vh;
			}
			.grid-3.grid-lg-2.left-content.left-sm-menu-height {
				display: block;
			}

			.grid-3.grid-lg-2.left-content {
				display: none;
			}

}
@media only screen and (max-width: 475px) {

	.d-109 {
		display: block;
	} 
	.post-left p,
	.post-right p {
		padding-right: 10px;
	}
	.post-left p a,
	.post-right p a{
		font-size: 13px;
	}
	.right-bar .profile {
		display: flex;
		justify-content: center;
	}
	.btn {
		margin-top: 1rem;
		font-size: 14px;
	}

	
}